<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
      <h2 class="text-center">
        <i>Sign Up</i>
      </h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :ニックネーム %>
          <%= f.text_field :nickname, autofocus: true, class:"form-control mt-1" %>
        </div>
      </div>
      
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :プロフィール画像 %>
          <br><%= f.attachment_field :profile_image, class:"mt-1" %>
        </div>  
      </div>  
    
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mt-1" %>
        </div>
      </div>
    
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          (最低<%= @minimum_password_length %>文字入力)
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control mt-1" %>
        </div>
      </div>
    
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :パスワード再入力 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mt-1" %>
        </div>
      </div>
      
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :身長 %><br />
          <%= f.text_field :height, autofocus: true, class:"form-control mt-1" %>
        </div>
      </div>
    
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :体重 %><br />
          <%= f.text_field :weight, autofocus: true, class:"form-control mt-1" %>
        </div>
      </div>
      
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :性別 %><br />
          <%= f.select :gender, User.genders.keys, autofocus: true %>
          <!--モデル名＋モデルに記載のカラムの複数形(なぜなら選択肢は複数あるため-->
        </div>
      </div>
      
      <div class="field">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <%= f.label :自己紹介 %><br />
          <%= f.text_area :introduction, autofocus: true, class:"form-control" %>
        </div>
      </div>
    
      <div class="actions">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
        <%= button_tag "Sign Up", type: "submit", class:"btn btn-primary button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb-3"></div>

<!--バリデーション-->
<script>
$(function(){
  $('#new_user').validate({
		  rules : {
				 "user[nickname]": {
					required: true
				 },
          "user[email]": {
					required: true
				 },	
          "user[password]": {
					required: true,
          minlength: 6
				 },
				  "user[password_confirmation]": {
					required: true,
          minlength: 6,
          equalTo: "#user_password"

				 },
				 	"user[height]": {
					required: true,
          number: true
				 },
				 	"user[weight]": {
					required: true,
          number: true
				 },
				 	"user[introduction]": {
					required: true,
				 },
				 
		  },
		  messages: {
      "user[nickname]"  :{
						required: "必須項目です。入力をお願いします。"
				 },
			"user[email]"  :{
						required: "必須項目です。入力をお願いします。"
				 },
			"user[password]"  :{
						required: "必須項目です。入力をお願いします。",
	          minlength: "「パスワード」は6文字以上で入力してください"
				 },	
			"user[password_confirmation]"  :{
      			required: "必須項目です。入力をお願いします。",
            minlength: "「パスワード」は6文字以上で入力してください",
            equalTo: "「パスワード」が一致していません",
				 },	
			"user[height]"  :{
      			required: "必須項目です。入力をお願いします。",
            number: "半角数値を入力してください。"
				 },					 
			"user[weight]"  :{
      			required: "必須項目です。入力をお願いします。",
            number: "半角数値を入力してください。"
				 },	
			"user[introduction]"  :{
      			required: "必須項目です。入力をお願いします。",
				 },			 
      },
   }) 
})
</script>
