<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-3">
          <h2 class="text-center"><i>Forgot your password?</i></h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field mt-4">
                <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>
            <div class="actions mt-4">
              <%= f.submit "パスワード再発行", class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
    </dvi>
</div>
