<div class="position_parent">
  <%= video_tag("/assets/videos/workoutwoman.mp4", autoplay: true, loop: true, muted: true, width: "100%", class:"background_video") %>
  <div class="position_child", id="fadeIn">
    <h1 class="text-center mt-3 h1"><i>Workout with Friends</i></h1>
    <div class="login_title">
      <h2 class="login_h2 mt-1">
        友達を探してつながろう！<br>
        SNSでつながる新しい形の筋トレ
      </h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :Email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
      <div class="field mt-2">
        <%= f.label :Password %><br/>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>
      <div class="field text-center mt-2">  
        <%= render "devise/shared/links" %>
      </div>
      <div class="actions text-center mt-3">
        <%= f.submit "Log in ",class:"btn btn-primary w-25" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
$('#fadeIn').hide().fadeIn(2000);
});
</script>