<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md7 col-lg-9 mt-3 mx-auto">
            <h2><i>Workout Diary</i></h2>
                <table class="table mt-4">
                <thead>
                    <tr>
                        <th class="text-center">日付</th>
                        <th class="text-center">時刻</th>
                        <th class="text-center">筋トレ場所</th>
                        <th class="text-center">タグ付け</th>
                    </tr>
                </thead>
                <tbody>
                <% @diary.each do |diary| %>
                    <tr>
                        <td class="text-center">
                            <%= link_to post_path(diary) do %>
                                <%= diary.date_on %>
                            <% end %>
                        </td>
                        <td class="text-center"><%= diary.time_at.strftime('%H:%M') %></td>
                        <td class="text-center"><%= diary.place %></td>
                        <td class="text-center"><%= diary.tags.pluck(:name).join(',') %></td>
                    </tr>
                 <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>