<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
            <h2 class="mt-3"> <i>Post Edit</i></h2>
            
            <%= form_with model:@post, id: 'edit_post', url:post_path, local:true do |f| %>
                <div class="form-group">
                    <label class="mt-2"><%= t 'posts.edit.date' %></label>
                    <p><%= f.date_select :date_on, autofocus: true, class: "form-control name" %></p>
                </div>
               
                <div class="form-group">
                <label><%= t 'posts.edit.time' %></label>
                    <p><%= f.time_select :time_at, class: "form-control-file user_image" %></p>
                </div>
              
                <div class="form-group">
                <label><%= t 'posts.edit.upload_picture' %></label>
                    <%= f.attachment_field :post_images_images, multiple: true, class: "form-control-file user_image" %>
                </div>
              
                <div class="form-group">
                <label><%= t 'posts.edit.workout_place' %></label>
                    <%= f.text_field :place , class: "form-control " %>
                </div>
                
                <div class="form-group">
                <label><%= t 'posts.edit.tag' %></label>
                    <%= f.text_field :tag_id, value:@tags, class: "form-control", placeholder: t('posts.edit.tag_description') %>
                </div>  
                
                <label><%= t 'posts.edit.achievement_rate' %></label>
                <div id="star">
                    <%= f.hidden_field :rate, :value => 'score' %>
                </div>
                <div class="form-group" style="position:absolute;top:-10000px">
                    <label>筋トレ達成度</label>
                    <input name="dummy-input">
                </div>
                
                
                <div class="form-group mt-3">
                <label><%= t 'posts.edit.title' %></label>
                    <%= f.text_field :title , class: "form-control" %>
                </div>

                <div class="form-group">
                <label><%= t 'posts.edit.content' %></label>
                    <%= f.text_area :content , class: "form-control" %>
                </div>
              
                <div class="form-group">
                    <%= f.submit "Update", class: "btn btn-primary button" %>
                </div>
            <% end %>
        </div>
      </div>
    </div>
</div>

<!--レビュー用javascript-->
<script>
// ブラウザバックすると☆が増えてしまったので下記を追加
// 参考記事：https://qiita.com/hana_s_e_0925/items/1a72927b03c01229de07
 $('#star').empty(); 
 $('#star').raty({
   size: 36,
   starOff: "<%= asset_path('star-off.png') %>",
   starOn: "<%= asset_path('star-on.png') %>",
   starHalf: "<%= asset_path('star-half.png') %>",
   scoreName: 'post[rate]',
   half: true,
 });
</script>

<!--バリデーション-->
<script>
$(function(){
  $('#edit_post').validate({
	rules : {
		  "post[place]": {
			required: true
		 },
          "post[tag_id]": {
					required: true
		 },	
          "#post_rate": {
					required: true
		 },
		  "post[title]": {
					required: true
		 },
          "post[content]": {
          		    required: true
		     },
          "dummy-input": {
          		    required: true
		     },
		     
		},
		  messages: {
            "post[place]"  :{
						required: "<%= t 'posts.edit.validation' %>"
				 },
			"post[tag_id]"  :{
						required: "<%= t 'posts.edit.validation2' %>"
				 },
			"#post_rate"  :{
						required: "<%= t 'posts.edit.validation3' %>"
				 },	
			"post[title]"  :{
              			required: "<%= t 'posts.edit.validation4' %>"
				 },	
			"post[content]"  :{
      			required: "<%= t 'posts.edit.validation5' %>"
		 },	
		     "dummy-input"  :{
      			required: "必須項目です。入力をお願いします。"
		 },	
      },
   }) 
})
</script>


<!--バリデーション用javascript-->
<script>
// jqueryの準備
$(document).ready(function(){
    $("#star").on("click",function(){
        $('input[name="dummy-input"]').parent().hide();
    });
    // .button がクリックされたとき
    $(".button").click(function(){
        // Id[post_place]のvalue値をpost_place_textの格納
        // classの場合[.] IDの場合[#] html固有のタグ 例[h1]の場合[h1]
          let star_level = $("#star").find("input:last").val();

        if (star_level == "") {
            // バリデーションテキストが出力されていなかった場合、処理を実行
            if($("#star_level_valid_message").val() != ""){
                // inseartAfter(DOM)の後に、左辺のhtml要素を追加
                $("<p id='star_level_valid_message' style='color:black'><%= t 'posts.edit.validation5' %></p>").insertAfter("#star");
                $("#star").css("border-color","red");
                $("#star").off("click","");
                $("#star").on("click",function(){
                    console.log("test");
                    if($("#star_level_valid_message").val() == ""){
                        $("#star_level_valid_message").remove();
                        $("#star").css("border-color","#ced4da");
                        $('input[name="dummy-input"]').parent().hide();
                    }
                });
            }
        } else {
            // バリデーションテキストが出力されていた場合、処理を実行
            if($("#star_level_valid_message").val() == ""){
                $("#star_level_valid_message").remove();
                $("#star").css("border-color","#ced4da");
            }
        }

    });
});
</script>