<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>筋トレ日記投稿</h2>
            
            <!--ここからエラーメッセージ-->
            <% if @post.errors.any? %>
            <div id="error_explanation">
                <div class="error"><%= pluralize(@user.errors.count, "error") %> 
                    prohibited this product from being saved:
                </div>
                <ul>
                    <% @post.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <!--ここまでエラーメッセージ-->
                
           <%= form_with model:@post, local:true do |f| %>
                <div class="form-group">
                    <label>日付入力</label>
                    <%= f.date_select :date_on, autofocus: true, class: "form-control name" %>
                </div>
               
                <div class="form-group">
                <label>時刻入力</label>
                    <%= f.time_select :time_at, class: "form-control-file user_image" %>
                </div>
              
                <div class="form-group">
                <label>画像アップロード</label>
                    <%= f.attachment_field :image, class: "form-control-file user_image" %>
                </div>
              
                <div class="form-group">
                <label>筋トレ場所</label>
                    <%= f.text_field :place , class: "form-control-file " %>
                </div>
                
                <div class="form-group">
                    <label>タグ付け</label>
                    <%= f.text_area :tag_id, class: "form-control-file", placeholder: "タグが複数の場合は','で区切ってください" %>
                </div>
               
                <div class="form-group">
                <label>筋トレ内容</label>
                    <%= f.text_area :content , class: "form-control-file " %>
                </div>
              
                <div class="form-group">
                    <%= f.submit "筋トレ記録を投稿", class: "btn btn-secondary" %>
                </div>
            <% end %>
        </div>
      </div>
    </div>
</div>