<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-3">
            <h2><i>Post Detail</i></h2>
            <div class="mt-4 shadow-lg">
                <div class="slider">
                    <% @post.post_images.each do |image| %>
                        <%= attachment_image_tag image, :image, class:"card-img-top"; %>
                    <% end %>
                </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 text-center">
                        <%= attachment_image_tag @post.user, :profile_image, fallback: "no_image.jpg", size: '40x40', class:"mt-3 rounded-circle"; %>
                        <p class="small mt-2">
                        <%= @post.user.nickname %>
                        </p>
                    </div>
                    <div class="col-9">
                        <p class="card-title"></P>
                        <div>
                            <div class="far fa-comment mr-1"> <%= @post.comments.count %> comments</div></br>
                                <div class="far fa-thumbs-up">
                                    <span id="likes_<%= @post.id %>"><%= render partial: 'likes/like', locals: {post: @post}%></span>
                                    likes
                                </div></br>
                            <div class="far fa-eye mr-1"> <%=  @post.impressionist_count %> views</div>
                        </div>
                        <div class="mt-3">
                            Date：<%= @post.date_on %>
                        </div>  
                        <div class="mt-2">
                            Title：</br><%= @post.title %>
                            <p class="mt-2">Content：</br><%= @post.content %></p>   
                        </div>
                        <% if @tags.present? %>
                            <div class="fas fa-tags mt-2">
                            </div>
                            <%= @tags %>
                        <% end %>
                        <% if @post.user == current_user %>
                            <div class="text-right mt-3 mb-1">
                                <%= link_to "Edit", edit_post_path(@post), method: :get, class: "btn btn-primary" %></td>
                                <%= link_to "Delete", post_path(@post), method: :delete, "data-confirm" => t('posts.show.delete_confirm'), class: "btn btn-danger" %></td>
                            </div>
                        <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto">
                    <%= form_with model:[@post, @comment], id: 'comment', local: false do |f| %>
                        <%= f.text_area :content, rows:'5',placeholder: "Any comments on this post?", class:"form-control mt-3"  %>
                        <div class="text-right">
                            <%= f.submit "Submit", class: "btn btn-primary mt-3 mb-3" %>
                        </div>
                    <% end %>
                </div>
                <div class="card-body">
                    <div id="post_comments" class="row allign-items-center">
                        <%= render partial: 'posts/post_comment', locals: {post_comments:@post_comments} %>
                    </div>
                </div>
             </div>     
        </div>
    </div>
    <!--下にスペース空ける様のコード-->
    <div class="mb-3">
    </div>
</div>

<!--バリデーション-->
<script>
$(function(){
 $('#comment').validate({
  errorClass: 'validate-error-color',     
  rules : {
   "comment[content]": {
    required: true
     },
   },
  messages: {
    "comment[content]"  :{
    required: "<%= t 'posts.new.validation' %>"
     },
   },
 }) 
})
</script>