<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand text-white" href="/"><i>Workout with People</i></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <% if user_signed_in? %>
                            <li>
                                <%= link_to users_friends_path, class: 'fas fa-running nav-link text-light' do %>
                                筋トレ仲間
                                <% end %>
                            </li>
                            <li>
                                <%= link_to diary_posts_path, method: :get, class: 'fas fa-book nav-link text-light' do %>
                                筋トレ日記
                                <% end %>
                            </li>
                            <li>
                                <%= link_to notifications_path, method: :get, class: 'fas fa-bell nav-link text-light' do %>
                                通知機能
                                <% end %>
                            </li>
                            <li>
                            <%= link_to edit_user_path(current_user.id), method: :get, class: 'fas fa-user-friends nav-link text-light' do %>
                                マイページ
                            <% end %>
                            </li>
                            <li>
                                <%= link_to destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' do %>
                                logout
                                <% end %>
                            </li>
                            <% else %>
                            <li>
                                <%= link_to new_user_registration_path, class: 'fas fa-user-plus nav-link text-light' do %>
                                新規登録
                                <% end %>
                            </li>
                            <li>
                                <%= link_to new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light' do %>
                                ログイン
                                <% end %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--flash_typeがどんなフラッシュメッセージのタイプなのか・flashが実際のメッセージ-->
        <% flash.each do |flash_type, flash| %>
         <div class="alert alert-<%= flash_type %>"><%= flash %></div>
        <% end %>
        </div>
        <%= yield %>
    </body>
</html>
