<!DOCTYPE html>
<html>
    <head>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        
        <!--スマホでレスポンシブ対応するためのコード-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        
        <!--jqueryのコード-->
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!--Validation プラグイン-->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <!--Validationのオプションメソッドを有効にするためのライブラリ-->
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        
        <!--javascriptのコード-->
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        
        <!--画像スライダー用記述-->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    </head>
    <body>
        <header>
            <% if user_signed_in? %>
                <nav class="navbar navbar-expand-lg navbar-dark header-background">
                    <div class="navbar-brand">
                        <%= link_to root_path, class: 'nav-link text-light' do %>
                            <i>Workout with Friends</i>
                        <% end %>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <%= link_to t('application.application.workout_friends'), users_friends_path, class: 'fas fa-running nav-link text-light mt-1' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to t('application.application.workout_diary'), diary_posts_path, method: :get, class: 'fas fa-book nav-link text-light mt-1' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to t('application.application.calendar'), calendar_posts_path, method: :get, class: 'fas fa-calendar nav-link text-light mt-1' %>
                            </li>
                            <!--通知があった際に色が出るように表示-->
                            <% if unread_notifications.any? %>
                            <!--ベルの色だけを金色に変えたい-->
                            <li class="nav-item">
                            <!--link_toのnav-item-hoverは親関係なのでspanの子に反映されるはずだが反映されなかったので子にもbell-item-hoberを付与-->
                            <%= link_to notifications_path, class: "fas fa-bell nav-link mt-1  nav-item-hover", style: "color:gold;" do %>
                                <span style="color: white" class="nav-item-hover"><%= t('application.application.notification') %></span>
                            <% end %>
                            </li>
                            <% else %>
                            <li class="nav-item">
                                <%= link_to t('application.application.notification'), notifications_path, method: :get, class: 'fas fa-bell nav-link text-light mt-1' %>
                            </li>
                            <% end %>
                            <li class="nav-item">
                                <%= link_to t('application.application.mypage'), edit_user_path(current_user.id), method: :get, class: 'fas fa-user-friends nav-link text-light mt-1' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to t('application.application.logout'), destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light mt-1' %>
                            </li>
                        </ul>
                        <%= form_with url:search_path, method: :get, local: true do |f| %>
                            <%= f.text_field :word, placeholder: "Find your friends!", class:"form-control", autofocus: true %>
                            <%= f.select :search, options_for_select([[ t('application.application.partial_match'),"partial_match"],[t('application.application.perfect_match'),"perfect_match"], [t('application.application.forward_match'),"forward_match"],  [t('application.application.backward_match'),"backward_match"]]), class:"mr-2" %>
                            <%= f.submit "Search", class:"btn btn-outline-success ml-2 mt-2" %>
                        <% end %>
                        <div class="language-text">
                        <%= link_to '日本語', :locale => 'ja' %>
                        <%= link_to 'English', :locale => 'en' %>
                        </div>
                    </div>
                </nav>        
            <% else %>
                <nav class="navbar navbar-expand-lg navbar-dark header-background">
                    <div class="navbar-brand">
                        <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                            <i>Workout with Friends</i>
                        <% end %>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <%= link_to t('application.application.signup'), new_user_registration_path, class: 'fas fa-user-plus nav-link text-light mt-1' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to t('application.application.signin'), new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-light mt-1' %>
                            </li>
                        </ul>
                        <div class="language-text">
                        <%= link_to '日本語', :locale => 'ja' %>
                        <%= link_to 'English', :locale => 'en' %>
                        </div>
                        </div>
                    </div> 
                </nav>        
            <% end %>
        </header>
            <!--flash_typeがどんなフラッシュメッセージのタイプなのか・flashが実際のメッセージ-->
            <% flash.each do |flash_type, flash| %>
            <% if flash_type == "alert" %>
                <div class="alert">
                    <%= flash %>
                </div>
            <% else %>
                <div class="notice">
                    <%= flash %>
                </div>
            <% end %>
            <% end %>
          <%= yield %>
    </body>
</html>
